body{
background-image: url("bg.jpg");
background-repeat:repeat-x,-y;
border:0;
background-attachment: fixed;
}
#me{
  background-color: white;
  float: none;
  padding: 25px;
  margin: 25px;
  border:25px;
  width: 1170px;
}
a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: blue;
}
