body{
background-image: url("bg.jpg");
background-repeat:repeat-x,-y;
border:0;
background-attachment: fixed;
}
#me{
  background-color: e;
  float: none;
  padding: auto;
  margin: auto;
  border:auto;
  width: auto;
}

a:hover {
    color: red;
}
